
root ..
target moo

library crypt

config LIBS += `xml2-config --libs`
config CFLAGS += `xml2-config --cflags`

#config LDFLAGS += -L/usr/home/trans/sdrl/lib
#config CFLAGS += -I/usr/home/trans/sdrl/include
#library base
#library string
#library sdrl

library lua
library lualib

# TODO make it possible to have the sdrl specific stuff in it's own recipe but that might be hard to do

source .
source actions
source actions/builtin
#source actions/sdrl
#source actions/lua
source interfaces
#source interfaces/telnet
source objs
source tasks
source tasks/irc
source things

